parameters:
    level: 8
    paths:
        - ../../config
        - ../../src
        - ../../tests
    bootstrapFiles:
        #- .phpstan.constants.php
    ignoreErrors:
        - '#Call to an undefined method object::getRepository\(\)#'