{% extends 'base.html.twig' %}

{% block title %}Game Documentation{% endblock %}

{% block body %}
    <h1>Game Documentation</h1>
    <p>Here you'll find the documentation for the card game 21.</p>
    <h2>Overview</h2>
    <p>This game is implemented using Symfony and follows the MVC architecture...</p>
    <!-- Add detailed documentation about the game implementation here -->
{% endblock %}
