{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
    <h1>Welcome to the Ultimate Report of the Gods</h1>
    <p style="text-align: center;">Hej! Jag kommer från Göteborg. Jag gillar psykologi, programmering, sport, böcker, promenering, språk och äventyr!</p>
    <div class="image-container">
        <img src="{{ asset('images/profile.jpg') }}" alt="Profile Image">
        <br>
    </div>
{% endblock %}
