{% extends 'base.html.twig' %}

{% block title %}API Index{% endblock %}

{% block body %}
    <h1>API Overview</h1>
    <p style="text-align: center;">Below is a list of all available API endpoints:</p>
    <ul>
        <li><a href="{{ path('api_quote') }}">Quote of the Day</a></li>
    </ul>
{% endblock %}
